<!DOCTYPE html>
<html>
<head>
	<!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Open+Sans&family=Pacifico&family=Sofia+Sans+Semi+Condensed:ital,wght@0,200;0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Лодочные моторы</title>
</head>
<body>
	<header>
  		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarmain" style="padding-top: 0; padding-bottom: 0;">
  <div class="container-fluid" id="navbarmain" style="padding-bottom: 15px;">
    <a class="navbar-brand" id="linkmain" href="{% url 'store:index' %}">
      <img src="icon-marlin.png" width="70" height="70" class="d-inline-block align-top" alt="" loading="lazy">
      Мир лодок
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="navbar-custom" style="margin-top: 23px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 0;">
          	<button type="button" class="btn btn-outline-light btn-lg">Лодочные моторы</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding: 0;"><button type="button" class="btn btn-outline-light btn-lg">Прицепы</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding: 0;"><button type="button" class="btn btn-outline-light btn-lg">Лодки и катера</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding: 0;"><button type="button" class="btn btn-outline-light btn-lg">Аксессуары</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="b-example-divider" style="padding-top: 30px; background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(38, 90, 150, 1));"></div>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Tohatsu</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Suzuki</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Yamaha</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Parsun</a></li>
      </ul>
    </header>
  </div>
  <hr style="margin-top: 0">
  	</header>
  	<main>
        <!-- Pagination -->
  		<div class="container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
        <nav aria-label="Another pagination example">
          <ul class="pagination pagination-lg flex-wrap">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
      <!-- End of pagination -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
              <img src="3-5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 3.5C</h5>
                <p class="card-text">
                  <div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Тип</th>
            <th scope="col">Модификация</th>
            <th scope="col">Вес</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Four Stroke</td>
            <td>S</td>
            <td>18.4кг</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
                </p>
                <a href="cart.html" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="20-.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 20EW</h5>
                <p class="card-text"><div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Тип</th>
            <th scope="col">Модификация</th>
            <th scope="col">Вес</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Four Stroke</td>
            <td>S</td>
            <td>18.4кг</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div></p>
                <a href="cart.html" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="toha-1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 30CW</h5>
                <p class="card-text"><div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Тип</th>
            <th scope="col">Модификация</th>
            <th scope="col">Вес</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Four Stroke</td>
            <td>S</td>
            <td>18.4кг</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div></p>
                <a href="cart.html" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="toha-2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 30CW</h5>
                <p class="card-text"><div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Тип</th>
            <th scope="col">Модификация</th>
            <th scope="col">Вес</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Four Stroke</td>
            <td>S</td>
            <td>18.4кг</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div></p>
                <a href="#" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="30-.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 140A</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="75-.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MFS 140A</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
        <nav aria-label="Another pagination example">
          <ul class="pagination pagination-lg flex-wrap">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
      </div>
    </div>
  	</main>
  	<hr style="margin-top: 10; margin-bottom: 0;">
  	<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Tohatsu</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Suzuki</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Yamaha</a></li>
        <li class="nav-item" style="font-size: 24px;"><a href="#" class="nav-link">Parsun</a></li>
      </ul>
    </header>
  </div>
  	<div class="b-example-divider" style="padding-top: 30px; background-image: linear-gradient(to top, rgba(38, 90, 150, 1), rgba(255, 255, 255, 1));"></div>
  	<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Контакты</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Цены</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Местоположение</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2008-2023 Марлин, Мир лодок</p>
  </footer>
</div>
</body>
</html>